<img class="school-logo" src="assets/images/school-logo.png" alt="schoolzone" />
<ul>
  <li class="active">
    <img src="assets/icons/school.svg" alt="school" />
  </li>
  <li><img src="assets/icons/bus.svg" alt="bus" /></li>
  <li>
    <img src="assets/icons/schedule.svg" alt="schedule" />
  </li>
  <li>
    <img src="assets/icons/achievement.svg" alt="achievement" />
  </li>
  <li>
    <img src="assets/icons/charge.svg" alt="charge" />
  </li>
  <li><img src="assets/icons/forum.svg" alt="chat" /></li>
  <li>
    <img src="assets/icons/setting.svg" alt="school" />
  </li>
</ul>
