<img class="school-logo" src="assets/images/school-logo.png" alt="schoolzone" />
<ul>
  <li
    [routerLink]="['/dashboard']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <img src="assets/icons/school.svg" alt="school" />
  </li>
  <li [routerLink]="['/travel']" routerLinkActive="active">
    <img src="assets/icons/bus.svg" alt="bus" />
  </li>
  <li [routerLink]="['/event']" routerLinkActive="active">
    <img src="assets/icons/schedule.svg" alt="schedule" />
  </li>
  <li [routerLink]="['/activity']" routerLinkActive="active">
    <img src="assets/icons/achievement.svg" alt="achievement" />
  </li>
  <li [routerLink]="['/payment']" routerLinkActive="active">
    <img src="assets/icons/charge.svg" alt="charge" />
  </li>
  <li [routerLink]="['/interaction']" routerLinkActive="active">
    <img src="assets/icons/forum.svg" alt="chat" />
  </li>
  <li [routerLink]="['/setting']" routerLinkActive="active">
    <img src="assets/icons/setting.svg" alt="school" />
  </li>
</ul>
