@import '_mixins';

.view-port {
  display: flex;
  flex-direction: column;
  sz-logo {
    margin: 2vw 4vw;
    height: 8vh;
    justify-content: center;
    @include mobile {
      height: 20vh;
    }
  }

  img {
    height: 32vw;
  }

  span {
    text-align: center;
  }
}
