nest-cli.json       
jest.config.js      
angular.json        
README.md
LICENSE
Dockerfile

template
frontend
backend

.vscode
.prettierrc
.prettierignore
.gitlab-ci.yml
.gitignore
.git
.eslintrc.js
.eslintignore
.env.example