@import '_mixins';

.view-port {
  display: flex;
  flex-direction: column;
  sz-logo {
    margin: 2vw 4vw;
    height: 8vh;
    @include mobile {
      height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .hero {
    flex-grow: 1;
    h1 {
      color: color();
      text-shadow: 2px 2px 2px color(secondary, light);
      text-align: center;
      @include mobile {
        margin: size(margin);
      }
    }
    img {
      position: absolute;
      bottom: 4vh;
      left: 5vw;
      height: 32vw;
      @include mobile {
        display: none;
      }
    }
    .login {
      position: absolute;
      right: 10vw;
      top: 15vh;
      width: 40vw;
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      form {
        width: 60%;
        .pass {
          display: flex;
          justify-content: space-between;
          margin-bottom: size(margin);
          @include mobile {
            margin-bottom: size(margin, lg);
          }
        }
        sz-button {
          display: flex;
          width: 30%;
          margin-left: auto;
          @include mobile {
            margin: size(margin, lg) auto;
          }
        }
        @include mobile {
          width: 80%;
          margin: size(margin) auto;
        }
      }

      @include tablet {
        width: 60vw;
        right: 5vw;
        top: 10vh;
      }
      @include mobile {
        position: unset;
        flex-grow: 1;
        height: 100%;
      }
    }
    @include mobile {
      display: flex;
    }
  }
}
