<div class="view-port">
  <sz-logo [poweredBy]="false" size="large"></sz-logo>
  <div class="hero">
    <img src="assets/images/login-cover.svg" alt="School" />
    <div class="login">
      <h1>Vidya Mandir Senior Secondary School</h1>
      <form [formGroup]="loginForm">
        <div class="fields">
          <sz-input
            name="Username"
            required="true"
            [control]="loginForm.controls.userName"
          ></sz-input>
          <sz-input
            name="Password"
            type="password"
            required="true"
            [control]="loginForm.controls.password"
          ></sz-input>
        </div>
        <div class="pass">
          <sz-checkbox [initialValue]="true" name="Remember Me"></sz-checkbox>
          <span class="link">Forgot Password?</span>
        </div>
        <sz-button name="Login" (click)="login()"></sz-button>
      </form>
    </div>
  </div>
</div>
