<div class="todo-container">
  <h1>My ToDo List</h1>

  <form [formGroup]="todoForm">
    <div class="select"></div>
    <sz-input
      name="Add a Task"
      [control]="todoForm.controls.description"
    ></sz-input>
    <span class="material-icons" (click)="addTodo()">
      add
    </span>
  </form>

  <div class="row">
    <sz-list
      *ngIf="mapped"
      [items]="todoList"
      class="col-sm-12"
      (primaryAction)="primaryClick($event)"
      (secondaryAction)="secondaryClick($event)"
    ></sz-list>
  </div>
</div>
