<div class="page">
  <h1>Miscellaneous</h1>
  <div class="case">
    <h5>1. Level Input</h5>
    <div class="row between-xs">
      <sz-level
        class="col-sm-6"
        [showTicks]="true"
        [thumbLabel]="true"
        [initialValue]="75"
      ></sz-level>
    </div>
  </div>
  <div class="case">
    <h5>2. Loader</h5>
    <div class="loader">
      <sz-loader value="75"></sz-loader>
    </div>
  </div>
  <div class="case">
    <h5>3. Spinner</h5>
    <div class="row">
      <sz-spinner value="75"></sz-spinner>
    </div>
  </div>
</div>
