<div class="side-element">
  <div class="side-header">
    <h4>Pinned Items</h4>
    <img src="assets/icons/pin.svg" alt="pinned" />
  </div>
  <div class="container">
    <ul>
      <li><mat-icon>navigate_before</mat-icon></li>
      <li><img src="assets/icons/handwrite.svg" alt="handwriting" /></li>
      <li><img src="assets/icons/book.svg" alt="library" /></li>
      <li><img src="assets/icons/study.svg" alt="timeline" /></li>
      <li><img src="assets/icons/chess-board.svg" alt="chess" /></li>
      <li><mat-icon>navigate_next</mat-icon></li>
    </ul>
  </div>
</div>
