<ul>
  <li>
    <img
      src="assets/icons/check-list.svg"
      (click)="toggleSlider('TODO')"
      alt="todo"
    />
  </li>
  <li>
    <img src="assets/icons/turn-on.svg" alt="logout" (click)="logout()" />
  </li>
  <li>
    <img src="assets/icons/moon.svg" (click)="changeTheme()" alt="theme" />
  </li>
  <li>
    <img
      src="assets/icons/export.svg"
      (click)="toggleSlider('EXPORT')"
      alt="export"
    />
  </li>
  <li>
    <img
      src="assets/icons/loudspeaker.svg"
      (click)="toggleSlider('NOTIFY')"
      alt="notifications"
    />
  </li>
</ul>
