<div class="page">
  <h1>Buttons</h1>
  <div class="case">
    <h5>1. Basic Button</h5>
    <div class="row between-xs">
      <sz-button type="basic" name="Basic"></sz-button>
      <sz-button type="basic" name="Primary" color="primary"></sz-button>
      <sz-button type="basic" name="Accent" color="accent"></sz-button>
      <sz-button type="basic" name="Warn" color="warn"></sz-button>
      <sz-button type="basic" name="Disabled" disabled="true"></sz-button>
    </div>
  </div>
  <div class="case">
    <h5>2. Raised Button</h5>
    <div class="row between-xs">
      <sz-button name="Basic" class="col-xs-2"></sz-button>
      <sz-button name="Primary" color="primary" class="col-xs-2"></sz-button>
      <sz-button name="Accent" color="accent" class="col-xs-2"></sz-button>
      <sz-button name="Warn" color="warn" class="col-xs-2"></sz-button>
      <sz-button name="Disabled" disabled="true" class="col-xs-2"></sz-button>
    </div>
  </div>
  <div class="case">
    <h5>3. Stroked Button</h5>
    <div class="row between-xs">
      <sz-button type="stroked" name="Basic"></sz-button>
      <sz-button type="stroked" name="Primary" color="primary"></sz-button>
      <sz-button type="stroked" name="Accent" color="accent"></sz-button>
      <sz-button type="stroked" name="Warn" color="warn"></sz-button>
      <sz-button type="stroked" name="Disabled" disabled="true"></sz-button>
    </div>
  </div>
  <div class="case">
    <h5>4. Flat Button</h5>
    <div class="row between-xs">
      <sz-button type="flat" name="Basic"></sz-button>
      <sz-button type="flat" name="Primary" color="primary"></sz-button>
      <sz-button type="flat" name="Accent" color="accent"></sz-button>
      <sz-button type="flat" name="Warn" color="warn"></sz-button>
      <sz-button type="flat" name="Disabled" disabled="true"></sz-button>
    </div>
  </div>
  <div class="case">
    <h5>4. Icon Button</h5>
    <div class="row between-xs">
      <sz-button icon="home" type="icon"></sz-button>
      <sz-button icon="menu" type="icon" color="primary"></sz-button>
      <sz-button icon="favorite" type="icon" color="accent"></sz-button>
      <sz-button icon="delete" type="icon" color="warn"></sz-button>
      <sz-button icon="open_in_new" type="icon" disabled="true"></sz-button>
    </div>
  </div>
  <div class="case">
    <h5>4. Fab Button</h5>
    <div class="row between-xs">
      <sz-button icon="home" type="fab"></sz-button>
      <sz-button icon="menu" type="fab" color="primary"></sz-button>
      <sz-button icon="favorite" type="fab" color="accent"></sz-button>
      <sz-button icon="delete" type="fab" color="warn"></sz-button>
      <sz-button icon="open_in_new" type="fab" disabled="true"></sz-button>
    </div>
  </div>
  <div class="case">
    <h5>4. Mini Fab Button</h5>
    <div class="row between-xs">
      <sz-button icon="home" type="mini"></sz-button>
      <sz-button icon="menu" type="mini" color="primary"></sz-button>
      <sz-button icon="favorite" type="mini" color="accent"></sz-button>
      <sz-button icon="delete" type="mini" color="warn"></sz-button>
      <sz-button icon="open_in_new" type="mini" disabled="true"></sz-button>
    </div>
  </div>
  <div class="case">
    <h5>5. Toggle Button</h5>
    <div class="row between-xs">
      <sz-button-toggle
        appearance="legacy"
        [buttons]="buttons"
        initialValue="center"
        (toggleValue)="toggleChange($event)"
      ></sz-button-toggle>
      <sz-button-toggle
        [buttons]="iconButtons"
        initialValue="center"
        (toggleValue)="toggleChange($event)"
      ></sz-button-toggle>
    </div>
  </div>
</div>
