<div class="page">
  <h1>Chip Types</h1>
  <div class="case">
    <h5>1. Basic Chip</h5>
    <div class="row between-xs">
      <sz-chiplist [list]="basicChip"></sz-chiplist>
    </div>
  </div>
  <div class="case">
    <h5>2. Editable Chip Input</h5>
    <div class="row between-xs">
      <sz-chiplist
        class="col-sm-12"
        editable="true"
        [list]="basicChip"
      ></sz-chiplist>
    </div>
  </div>
  <div class="case">
    <h5>3. Chip List</h5>
    <div class="row between-xs">
      <sz-chiplist [list]="basicChipList"></sz-chiplist>
    </div>
  </div>
</div>
