@import '_mixins';

:host {
  display: flex;
  flex-direction: column;
  sz-logo {
    height: 80px;
    align-self: center;
    transform: scale(1.5);
  }
  ul {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    li {
      padding: 0;
      width: 100%;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        background-color: color(active);
      }
      &:hover:not([class^='active']) {
        background-color: color(hover, main);
      }
      p {
        color: color(white);
      }
    }
  }
}
