<sz-logo [poweredBy]="false"></sz-logo>
<ul>
  <li
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <p>Input Fields</p>
  </li>
  <li [routerLink]="['/button']" routerLinkActive="active"><p>Buttons</p></li>
  <li [routerLink]="['/date']" routerLinkActive="active"><p>Date</p></li>
  <li [routerLink]="['/chip']" routerLinkActive="active"><p>Chip</p></li>
  <li [routerLink]="['/table']" routerLinkActive="active"><p>Tables</p></li>
  <li [routerLink]="['/modal']" routerLinkActive="active">
    <p>Cards and Modals</p>
  </li>
  <li [routerLink]="['/tab']" routerLinkActive="active"><p>Tabs</p></li>
  <li [routerLink]="['/misc']" routerLinkActive="active"><p>Misc</p></li>
  <li [routerLink]="['/calendar']" routerLinkActive="active">
    <p>Calendar</p>
  </li>
</ul>
